{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    // Posts API endpoints
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var get_post_list_url = "{{=URL('api', 'get_post_list')}}";
    var set_like_url = "{{=URL('api', 'set_like', user_signature=True)}}";
    var get_likers_url = "{{=URL('api', 'get_likers')}}"
    // Login information
    var is_logged_in = {{='false' if auth.user is None else 'true'}};
</script>

<style>
* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

</style>
{{end}}


<div class ="main_content">
    <div id="vue-div" class="display:none">
<div id="btnContainer" class = "padded">
  <a href="tag_page.html"><button>Write by tags</button></a>
  <a href="post_page.html"><button>Write post</button></a>
</div>
<br>

              <div class ="container">
                  <div class="post_div third compressible" v-for="post in post_list">
                    <div class = "post">
                      
                      <div class = "post_content"> 
                        <div class = "post_title">${post.post_title}</div>
                      </br>
                        <div id= "oldpost">${post.post_content}</div>
                      </div>
                   
                    </div>
                  </div>
            </div>

      <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
</div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>

