{{extend 'layout.html'}}

{{block head}}
{{end}}

<!DOCTYPE html>
<head>

</head>
<html>

<body>

  <div class = "location">
    <h1>Locations</h1>
    <button onclick="select_school(this)" class="button school" style = "background-color: gray" title="If you dream of being back in your school, this can represent lessons or tests in your current waking life. Furthermore, if you are taking a test in your dream, this could mean feeling tested in your life, something which you are not prepared take. The test or lesson in your dream can also signal something that you need to relearn from your past."> School </button>

    <button onclick="select_air(this)" class="button air" style = "background-color: gray" title="Flying in your dream represents how much control you feel you have in your life. It also signifies your ability or level of confidence in achieving your goals and dreams. Take notice of how well you are able to fly in your dream. Are you flying poorly or flying fairly well? Do you feel in control or out of control?"> In the air </button>

    <button onclick="select_vehicle(this)" class="button vehicle" style = "background-color: gray" title="Being in a car, plane, boat, or a train, usually represents the direction you feel that your life is taking. Are you the driver or are a mere passenger in your dream? Vehicles often represent power within to make a change in your life. It can be a visualization of getting ahead to your destination. This can also reflect how much control you think you have over what is store for you."> Vehicle </button>

    <button onclick="select_road(this)" class="button road" style = "background-color: gray" title="Roads in dreams symbolize your life path or the direction which your life is currently taking. Is the road split, narrow, or winding? Also take note of the road’s surface."> Road </button>

    <button onclick="select_cave(this)" class="button cave" style = "background-color: gray" title="To dream of a cave where you find yourself hiding out means there is a secret or scandal taking place in your actual life."> Cave </button>

    <button onclick="select_trapped(this)" class="button trapped" style = "background-color: gray" title="Finding yourself being trapped in some place can indicate your inability but, at the same time, need to make certain choices.">Trapped someplace </button>

    <button onclick="select_house(this)" class="button House" style = "background-color: gray" title="Seeing a house in a dream often reflects the dreamer’s mind and psyche. The different rooms or areas in the house can represent the different aspects of his/her consciousness. For instance, if you dream of being in the basement, this can represent certain things you find yourself neglecting. Dreaming that you are in the bedroom, on the other hand, indicates your intimate feelings. Being inside a familiar room in a house can hold a specific meaning for you such as a memory, emotion, or how you view a certain meaningful time in your life."> House </button>

    <button onclick="select_stairs(this)" class="button stairs" style = "background-color: gray" title="If you dream of walking up a flight of stairs, this can indicate something that’s been disappointing you or tiring you down in your waking life. On the other hand, dreaming of walking down stairs means looking forward to something good that is to happen for you."> Stairs </button>

    <button onclick="select_bridge(this)" class="button bridge" style = "background-color: gray" title="If you dream about crossing a bridge, this indicates that you’ve been worrying too much about something that is in fact unimportant."> Bridge </button>

    <button onclick="select_boat(this)" class="button boat" style = "background-color: gray" title="Rowing a boat can mean that some good news or important news is coming your way. It also suggests success or great luck in your business venture."> Boat </button>

    <button onclick="select_water(this)" class="button water" style = "background-color: gray" title="Dreaming of drowning (underwater) can mean you have allowed yourself to be too much involved in something that’s been dragging you down “underwater” . You probably need to take things lighter"> Under water </button>

    <button onclick="select_hospital(this)" class="button hospital"style = "background-color: gray"  title="Dreaming of being in a hospital or dreaming that a person you love is in the hospital may feel rather frightening, yet on the contrary, this actually means that the person is in good health or improving in terms of health. The dream suggests that you shouldn’t worry too much."> Hospital </button>

    <button onclick="select_mountains(this)" class="button mountains" style = "background-color: gray" title="If you’re on top a mountain in your dream looking out to your surroundings, then this signifies yourself reviewing your life. Dreams of mountains can also symbolize big obstacles, but if you find yourself successfully climbing up to a mountaintop, then this symbolizes success or achievement"> Mountains </button>

    <button onclick="select_bar(this)" class="button bar" style = "background-color: gray" title="The dimly-lit bar is a type of place that suggests anonymity. People can be anyone in a bar, hiding their true selves without being found out which part of themselves are actually real or not real. Dreams of being in bar indicate your yearning for some “thrill of the hunt”, although it can also reflect your loneliness or fear of rejection."> Bar </button>

    <button onclick="select_prom(this)" class="button prom" style = "background-color: gray" title="We all have had our own share of awkward and/or shining moments during high-school. Dreaming about prom night can mean reliving something in it but in our dreams. It can also be a sign that you want to go back to your past to set some things straight once given the chance."> Prom </button>

    <button onclick="select_church(this)" class="button church" style = "background-color: gray" title="To dream that you are in a church also indicates growth or self-development."> Church </button>

    <button onclick="select_circus(this)" class="button circus" style = "background-color: gray" title="Dreaming of being part of a circus troupe suggests “being in the spotlight.” In your real life, you may be afraid of getting attention, are shy, or afraid to fail or decide as you “walk on a tightrope”, so to speak. You may also be worrying about your performance or other people’s expectations of you."> Circus </button>
    
    <button onclick="select_forest(this)" class="button forest" style = "background-color: gray" title="Dreaming of being in a forest is actually a good omen that indicates affluence or prosperity."> Forest </button>



  </div>
</body>



<style>






</style>

<script>
var school_clicks = 0;
  function select_school(_this) { 
  if(school_clicks%2 == 0){
    _this.style.backgroundColor = "red";
    school_clicks = school_clicks+1;
  }
  else {
    _this.style.backgroundColor = "gray";
    school_clicks = school_clicks + 1;
  }
}
var air_clicks = 0;
  function select_air(_this) {  
  if(air_clicks%2 == 0){
    _this.style.backgroundColor = "red";
    air_clicks = air_clicks+1;
  }
  else {
    _this.style.backgroundColor = "gray";
    air_clicks = air_clicks + 1;
  }
}
var vehicle_clicks = 0;
  function select_vehicle(_this) {  
  if(vehicle_clicks%2 == 0){
    _this.style.backgroundColor = "red";
    vehicle_clicks = vehicle_clicks+1;
  }
  else {
    _this.style.backgroundColor = "gray";
    vehicle_clicks = vehicle_clicks + 1;
  }
}
var road_clicks = 0;
  function select_road(_this) { 
  if(road_clicks%2 == 0){
    _this.style.backgroundColor = "red";
    road_clicks = road_clicks+1;
  }
  else {
    _this.style.backgroundColor = "gray";
    road_clicks = road_clicks + 1;
  }
}
var cave_clicks = 0;
  function select_cave(_this) { 
  if(cave_clicks%2 == 0){
    _this.style.backgroundColor = "red";
    cave_clicks = cave_clicks+1;
  }
  else {
    _this.style.backgroundColor = "gray";
    cave_clicks = cave_clicks + 1;
  }
}

var trapped_clicks = 0;
  function select_trapped(_this) { 
  if(trapped_clicks%2 == 0){
    _this.style.backgroundColor = "red";
    trapped_clicks = trapped_clicks+1;
  }
  else {
    _this.style.backgroundColor = "gray";
    trapped_clicks = trapped_clicks + 1;
  }
}

var house_clicks = 0;
  function select_house(_this) { 
  if(house_clicks%2 == 0){
    _this.style.backgroundColor = "red";
    house_clicks = house_clicks+1;
  }
  else {
    _this.style.backgroundColor = "gray";
    house_clicks = house_clicks + 1;
  }
}

var stairs_clicks = 0;
  function select_stairs(_this) { 
  if(stairs_clicks%2 == 0){
    _this.style.backgroundColor = "red";
    stairs_clicks = stairs_clicks+1;
  }
  else {
    _this.style.backgroundColor = "gray";
    staris_clicks = stairs_clicks + 1;
  }
}

var bridge_clicks = 0;
  function select_bridge(_this) { 
  if(bridge_clicks%2 == 0){
    _this.style.backgroundColor = "red";
    bridge_clicks = bridge_clicks+1;
  }
  else {
    _this.style.backgroundColor = "gray";
    bridge_clicks = bridge_clicks + 1;
  }
}

var boat_clicks = 0;
  function select_boat(_this) { 
  if(boat_clicks%2 == 0){
    _this.style.backgroundColor = "red";
    boat_clicks = boat_clicks+1;
  }
  else {
    _this.style.backgroundColor = "gray";
    boat_clicks = boat_clicks + 1;
  }
}


var water_clicks = 0;
  function select_water(_this) { 
  if(water_clicks%2 == 0){
    _this.style.backgroundColor = "red";
    water_clicks = water_clicks+1;
  }
  else {
    _this.style.backgroundColor = "gray";
    water_clicks = water_clicks + 1;
  }
}

var hospital_clicks = 0;
  function select_hospital(_this) { 
  if(hospital_clicks%2 == 0){
    _this.style.backgroundColor = "red";
    hospital_clicks = hospital_clicks+1;
  }
  else {
    _this.style.backgroundColor = "gray";
    hospital_clicks = hospital_clicks + 1;
  }
}


var mountains_clicks = 0;
  function select_mountains(_this) { 
  if(mountains_clicks%2 == 0){
    _this.style.backgroundColor = "red";
    mountains_clicks = mountains_clicks+1;
  }
  else {
    _this.style.backgroundColor = "gray";
    mountains_clicks = mountains_clicks + 1;
  }
}


var bar_clicks = 0;
  function select_bar(_this) { 
  if(bar_clicks%2 == 0){
    _this.style.backgroundColor = "red";
    bar_clicks = bar_clicks+1;
  }
  else {
    _this.style.backgroundColor = "gray";
    bar_clicks = bar_clicks + 1;
  }
}


var prom_clicks = 0;
  function select_prom(_this) { 
  if(prom_clicks%2 == 0){
    _this.style.backgroundColor = "red";
    prom_clicks = prom_clicks+1;
  }
  else {
    _this.style.backgroundColor = "gray";
    prom_clicks = prom_clicks + 1;
  }
}

var church_clicks = 0;
  function select_church(_this) { 
  if(church_clicks%2 == 0){
    _this.style.backgroundColor = "red";
    church_clicks =+1;
  }
  else {
    _this.style.backgroundColor = "gray";
    church_clicks = church_clicks + 1;
  }
}

var circus_clicks = 0;
  function select_circus(_this) { 
  if(circus_clicks%2 == 0){
    _this.style.backgroundColor = "red";
    circus_clicks = circus_clicks+1;
  }
  else {
    _this.style.backgroundColor = "gray";
    circus_clicks = circus_clicks + 1;
  }
}

var forest_clicks = 0;
  function select_forest(_this) { 
  if(forest_clicks%2 == 0){
    _this.style.backgroundColor = "red";
    forest_clicks = forest_clicks+1;
  }
  else {
    _this.style.backgroundColor = "gray";
    forest_clicks = forest_clicks + 1;
  }
}
  

</script>
</html>


