
{{extend 'layout.html'}}

{{block head}}
 <script src="{{=URL('static', 'js/tag.js')}}"></script>
<script src="{{=URL('static', 'js/vue.js')}}"></script>

<script>
    // Posts API endpoints
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var get_post_list_url = "{{=URL('api', 'get_post_list')}}";
    var set_like_url = "{{=URL('api', 'set_like', user_signature=True)}}";
    var get_likers_url = "{{=URL('api', 'get_likers')}}"
    // Login information
    var is_logged_in = {{='false' if auth.user is None else 'true'}};
</script>

{{end}}
<div class = "main_container" style = "height: 75%">
  <div class = "location">
    <h5>Locations</h5>
    <button onclick="select_school(this),add('school')" class="button school" title="If you dream of being back in your school, this can represent lessons or tests in your current waking life. Furthermore, if you are taking a test in your dream, this could mean feeling tested in your life, something which you are not prepared take. The test or lesson in your dream can also signal something that you need to relearn from your past."> School </button>

    <button onclick="select_air(this)" class="button air" title="Flying in your dream represents how much control you feel you have in your life. It also signifies your ability or level of confidence in achieving your goals and dreams. Take notice of how well you are able to fly in your dream. Are you flying poorly or flying fairly well? Do you feel in control or out of control?"> In the air </button>

    <button onclick="select_vehicle(this)" class="button vehicle" title="Being in a car, plane, boat, or a train, usually represents the direction you feel that your life is taking. Are you the driver or are a mere passenger in your dream? Vehicles often represent power within to make a change in your life. It can be a visualization of getting ahead to your destination. This can also reflect how much control you think you have over what is store for you."> Vehicle </button>

    <button onclick="select_road(this)" class="button road" title="Roads in dreams symbolize your life path or the direction which your life is currently taking. Is the road split, narrow, or winding? Also take note of the road’s surface."> Road </button>

    <button onclick="select_cave(this)" class="button cave" title="To dream of a cave where you find yourself hiding out means there is a secret or scandal taking place in your actual life."> Cave </button>

    <button onclick="select_trapped(this)" class="button trapped" title="Finding yourself being trapped in some place can indicate your inability but, at the same time, need to make certain choices.">Trapped someplace </button>

    <button onclick="select_house(this)" class="button House" title="Seeing a house in a dream often reflects the dreamer’s mind and psyche. The different rooms or areas in the house can represent the different aspects of his/her consciousness. For instance, if you dream of being in the basement, this can represent certain things you find yourself neglecting. Dreaming that you are in the bedroom, on the other hand, indicates your intimate feelings. Being inside a familiar room in a house can hold a specific meaning for you such as a memory, emotion, or how you view a certain meaningful time in your life."> House </button>

    <button onclick="select_stairs(this)" class="button stairs" title="If you dream of walking up a flight of stairs, this can indicate something that’s been disappointing you or tiring you down in your waking life. On the other hand, dreaming of walking down stairs means looking forward to something good that is to happen for you."> Stairs </button>

    <button onclick="select_bridge(this)" class="button bridge" title="If you dream about crossing a bridge, this indicates that you’ve been worrying too much about something that is in fact unimportant."> Bridge </button>

    <button onclick="select_boat(this)" class="button boat" title="Rowing a boat can mean that some good news or important news is coming your way. It also suggests success or great luck in your business venture."> Boat </button>

    <button onclick="select_water(this)" class="button water" title="Dreaming of drowning (underwater) can mean you have allowed yourself to be too much involved in something that’s been dragging you down “underwater” . You probably need to take things lighter"> Under water </button>

    <button onclick="select_hospital(this)" class="button hospital" title="Dreaming of being in a hospital or dreaming that a person you love is in the hospital may feel rather frightening, yet on the contrary, this actually means that the person is in good health or improving in terms of health. The dream suggests that you shouldn’t worry too much."> Hospital </button>

    <button onclick="select_mountains(this)" class="button mountains" title="If you’re on top a mountain in your dream looking out to your surroundings, then this signifies yourself reviewing your life. Dreams of mountains can also symbolize big obstacles, but if you find yourself successfully climbing up to a mountaintop, then this symbolizes success or achievement"> Mountains </button>

    <button onclick="select_bar(this)" class="button bar" title="The dimly-lit bar is a type of place that suggests anonymity. People can be anyone in a bar, hiding their true selves without being found out which part of themselves are actually real or not real. Dreams of being in bar indicate your yearning for some “thrill of the hunt”, although it can also reflect your loneliness or fear of rejection."> Bar </button>

    <button onclick="select_prom(this)" class="button prom" title="We all have had our own share of awkward and/or shining moments during high-school. Dreaming about prom night can mean reliving something in it but in our dreams. It can also be a sign that you want to go back to your past to set some things straight once given the chance."> Prom </button>

    <button onclick="select_church(this)" class="button church" title="To dream that you are in a church also indicates growth or self-development."> Church </button>

    <button onclick="select_circus(this)" class="button circus" title="Dreaming of being part of a circus troupe suggests “being in the spotlight.” In your real life, you may be afraid of getting attention, are shy, or afraid to fail or decide as you “walk on a tightrope”, so to speak. You may also be worrying about your performance or other people’s expectations of you."> Circus </button>
    
    <button onclick="select_forest(this)" class="button forest" title="Dreaming of being in a forest is actually a good omen that indicates affluence or prosperity."> Forest </button>
  </div>


  <div class = "character">
    <h5>Characters</h5>
    <button onclick="select_mother(this)" class="button mother" title="Mothers represent a need for nurture and protection, and may also suggest an enhancement of intuition."> Mother </button>

    <button onclick="select_father(this)" class="button father" title="Fathers represent authority and discipline, and may suggest a need for logic."> Father </button>
   
    <button onclick="select_grandparents(this)" class="button grandparents" title="Grandparents indicate that you have much to learn from the wisdom of knowledge and experience"> Grandparents</button>
  
    <button onclick="select_son(this)" class="button son" title="A son expresses pride in an achievement"> Son </button> 
    <button onclick="select_daughter(this)" class="button daughter" title="A daughter often means that you need to support someone, either at home or at work."> Daughter </button> 
    
    <button onclick="select_husband(this)" class="button husband" title="To dream of a husband indicates a decline in your relationship for a single woman"> Husband </button>
   
    <button onclick="select_wife(this)" class="button wife" title="For a married woman it can confirm the bonds of marital love."> Wife </button>
   
    <button onclick="select_friends(this)" class="button friends" title="To see old school friends in your dream often indicated that old scores need to be settled, or they can represent triumphs. To dream of current close friends, however, signifies protection with allied interests and bonds of mutual trust between you and the friends that appeared."> Friends </button>
   
    <button onclick="select_lover(this)" class="button lover" title="To dream of your lover implies admiration and joy."> Lover </button>
   
    <button onclick="select_colleagues(this)" class="button colleagues" title="Dreaming of a colleague from a previous job reflects qualities in your life that need to be revived in order to move forward."> Colleagues </button>
    
    <button onclick="select_figures(this)" class="button figures" title="An old teacher turning up in your dream suggests that you must make a stand for your beliefs and that there is a pressing situation that demands your focus. To dream of the police could signify that you will soon receive help from a source of authority. The appearance of a judge indicates guilt and that you will be involved in some impartial decision making."> Authority Figures </button>
    
    <button onclick="select_fantasy(this)" class="button fantasy" title="A clown or jester in your dream can represent qualities of light-heartedness and independence. A hermit represents feelings of isolation and a need to make some long-term plans. Dreaming of dwarves may be a subconscious reassurance that a problem is not as big as it seems, and whether regarding relationships or business, a pirate in your dream can herald a craving for emotional adventure."> Fantasy Characters</button>
   
    <button onclick="select_celebrities(this)" class="button celebrities" title="To dream of a celebrity is to wish to take on the lifestyle of that star. Maybe you respect or admire a particular thing about this celebrity? As an omen, such dreams can foretell of honor and promotion. A TV personality represents your desire for a wider appeal and popularity among your peers. To dream of a film star or pop icon can represent a warning to avoid the trap of becoming deluded by a projected glamorous self-image. This dream is asking you to take a stand back from your current place in life and reconnect with who you truly are"> Celebrities </button>
  </div>

<div class = "action">
    <h5>Actions</h5>
    <button onclick="select_chased(this)" class="button chased" title="Running away from something or someone that is chasing you in your dream suggests that you are running away from something that is causing you fear or anxiety in waking life. Your action of running away suggests that is how you would respond to pressure and cope with stress or fears day-to-day. It is suggesting that you have a tendency to run away from issues rather than tackle them. This dream can be recurring until you find the issue and resolve it in your waking life"> Being chased</button>

    <button onclick="select_toilet(this)" class="button toilet" title="When you have a dream where you can’t find the toilet, this can relate to something in your waking life where you may be struggling to express your needs in a certain situation. You might feel that, as you are putting others first, you are lacking time for personal issues."> Unable to find a toilet</button>

    <button onclick="select_flying(this)" class="button flying" title="Dreaming of being able to fly in your dream can be interpreted in many ways. A tough time flying in your dream suggests that someone (or something) is stopping you from moving to the next step in your life. If you are unable to fly it suggests that you might be struggling to meet the high goals you set for yourself.  Similarly, being alone and struggling to fly implies that you are lacking confidence within yourself."> Flying</button>

    <button onclick="select_falling(this)" class="button falling" title="When falling in your dream and being overcome with fear, it signifies insecurity and anxiety about a situation. You may have failed at doing something in your waking life and the dream is letting out your feelings about not doing as well as you’d hoped. If you are happily free falling it suggests you are not afraid of changes and you are ready to embrace the beauty of it. If it is in water the dream suggests that you have very strong feelings for someone."> Falling</button>

    <button onclick="select_late(this)" class="button late" title="Dreaming that you are late represents your worry and anxiety about taking a different direction in your waking life. You may not be 100% confident about making a change. It may also mean that you feel like you are running out of time to get something done. Your unconscious is telling you that it is never too late to do the things you want in life.Have you worked out what your dream means with the help of our infographic? Tells us all about it in the comments section below."> Being Late</button>
</div>
            <div class ="Submit" style="float: right;">
              <button style = "background-color: navy" id = "saveDelta" v-on:click = "add_post" onclick ="goback()">Submit Post</button>
              <a href="{{=URL('default', 'index.html')}}"><button style = "background-color: navy">Cancel</button></a>
            </div>
<section>
    <ul id = "result">
</ul>
</section>


</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
